.empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-state__icon {
    margin-top: 1rem;
    text-align: center;
}

.empty-state__icon .material-icons {
    font-size: 10rem;
    color: #ededed;
}

.empty-state__text {
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    color: #dedede;
    max-width: 60vw;
}