.plate__wrapper {
    border-radius: 0;
    display: inline-block;
    width: auto;
    background: white;
    margin-top: 0.25rem;
    display: flex;
    overflow: hidden;
}

.plate__wrapper.plate-hidden > span {
    display: none;
}

.plate__wrapper.plate-hidden .plate {
margin: 0;
}

.plate__wrapper > span {
    display: inline-block;
    min-width: 1.6rem;
    height: 2.2rem;
    vertical-align: top;
    background: #36307b;
    position: relative;
}

.plate__wrapper > span::after {
    content: 'SRB';
    font-size: 0.6rem;
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.plate {
    display: inline-block;
    margin: 0 0.5rem;
    border: 0;
    padding: 0;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 300;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.plate__subinfo {
    margin-top: 0.5rem;
}

.plate__wrapper.plate__wrapper--small {
    transform: scale(0.8);
}